*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}


/* body{
    background-color: rgb(0, 0, 0);
    color: white;
    background-image: url('');
} */

#parent_div{
    height: 100vh;
    width: 100vw;
    background-color: #faebd7;
    display: flex;
    justify-content: center;
    align-items: center;
}


#child_div{
    height: 85vh;
    width: 85vw;
    background-color:black;
}


#arrow{
    font-size: 2rem;
    margin-right: 4rem;
    margin-left: 2.5rem;
}

#start{
    color: #5db9ee;
}



 .left{
    font-size: 1.6rem;
    margin-right: 18rem;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    width: 85vw;
    color: white;
    
}

nav ul li{
    list-style: none;
    margin: 20px;
    color: white;
    position: relative;
    cursor: pointer;
}

nav ul li::before{
    content:'';
    position:absolute;
    bottom: -10px;
    left:0;
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: all .5s;
}

nav ul li:hover::before{
    width: 100%;
}


nav ul{
    display: flex;
    justify-content: space-around;
   
}


#sec{
    margin-top: 60px;
    margin-right: 150px;
    

}
    


 section{
    display: flex;
    justify-content: space-around;
}


.icons{
    color: #bbb;
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;
    gap: 20px;
    margin-left: 20px;
}

.fa-brands:hover{
    cursor: pointer;
    background: linear-gradient(#fff,#3877ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#unique{
    color: white;
    margin-right: 25rem;
}

h5{
    margin-right: 20px;
    font-size: 15px;
    margin-bottom: 20px;
}

h1{
    font-size: 2.2rem;
    line-height: 50px;
    color: #5db9ee;

}

#detail{
    line-height: 30px;
    margin-bottom: 15px;
    max-width: 38rem;
}

#intro{
    font-size: 2.2rem;
    margin-bottom: ;
}


#name{
    font-size: 2.2rem;
    color: #5db9ee;
}

div button{
    margin-top: 25px;
    transition: .8s ease;
}


#btn1{
    font-size: 1.3rem;
    border: .1rem solid #5db9ee;
    border-radius: .5rem;
    background-color: #5db9ee;
    padding: 10px;
    cursor: pointer;
}

#btn1:nth-child(1):hover{
    background-color: transparent;
    color: #5db9ee;
}

#btn2{
    font-size: 1.3rem;
    border: .1rem solid #5db9ee;
    margin-left: 20px;
    border-radius: .5rem;
    background-color: transparent;
    color: #5db9ee;
    padding: 10px;
    cursor: pointer;
    
}
#btn2:nth-child(2):hover{
    background-color: #5db9ee;
    color: black;
}

h1 span{
    position: relative;
    color: #5db9ee;
}

h1 span::before{
    content: "";
    right: -8px;
    top: 20%;
    position: absolute;
    height: 30px;
    width: 2px;
    background: #5db9ee;
    transform: translateY(-45);
    animation: blink 0.7s infinite;
}

h1 span.stop-blinking::before{
    animation: none;
}

@keyframes blink{
    50%{
        opacity: 0;
    }
}